<form name = "forms" data-ng-submit="addCalls()">
	<fieldset>
		<legend>Add call</legend>
		
		<input name="name" placeholder="Name" name="name" data-ng-model="todoName" ng-maxlength="5" required="">
			<span class="error" ng-show="forms.name.$error.maxlength">Too long!</span>
		 <input name="phones" type="text" placeholder="Phone number" data-ng-model="todoPhone" required="">
		 		<span class="error" ng-show="forms.phones.$error.format">Error!</span>
				 
		<input type="time" ng-model="todoTime" placeholder="time" min="00:00" max="23:00" required="" />

		 
		<button type="submit">Add +</button>
		<button ng-click="cancelAdd()">Cancel</button>
	</fieldset>
</form>