.next {
  text-align: center;
  border: 1px solid black;
  padding: 0px 0 50px 0; }
  .next h3 {
    margin-bottom: 30px; }


form button {

  margin: 20px 10px 10px 0; }

form fieldset.scheduler-border {
  border: 1px groove #ddd !important;
  padding: 0 5px 15px 5px !important;
  margin: 0 0 1.5em 0 !important; }

form legend.scheduler-border {
  text-align: left !important;
  width: auto;
  padding: 0 10px;
  border-bottom: none; 
  }
  
/*.todos {
  border-collapse: collapse;
}

.friends th {
  border-bottom: 1px solid;
}
.friends td, .friends th {
  border-left: 1px solid;
  padding: 5px 10px;
}
.friends td:first-child, .friends th:first-child {
  border-left: none;
}*/

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}