<table class="table table-striped table-bordered">
    <thead>
        <tr>
        <th  ng-click="sort('name')">Name
             <span class="sortorder" ng-show="sortKey === 'name'" ng-class="{reverse: reverse}"></span>
        </th>
        <th>Phone number</th>
        <th  ng-click="sort('time')">Time
            <span class="sortorder" ng-show="sortKey === 'time'" ng-class="{reverse: reverse}"></span>
        </th>
        <th></th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <tr data-ng-repeat="todo in todos | orderBy:sortKey:reverse | filter:showFn track by $index" ng-class="{'active' : show == 'All' }" ng-show="show='All'">
        <td class="done-{{ todo.done }}">{{ todo.name }}</td> 
        <td>{{todo.phone}}</td>
        <td>{{todo.time | date:'HH:mm'}}</td>
        <td><a href="#" ng-click="removeCall($index)" >delete</a></td>
        <td><input type="checkbox" data-ng-model="todo.done"></td>
        </tr>
    </tbody> 
</table>
<div>
    <button class="btn btn-primary" ng-class="{'active' : show == 'All' }" ng-click="show='All'">All</button>
    <button class="btn btn-primary" ng-class="{'active' : show == 'next' }" ng-click="show='next'">Next</button>
    <button class="btn btn-primary" ng-class="{'active' : show == 'finished' }" ng-click="show='finished'">Finished</button>
</div>
