<form role="form" name="forms" data-ng-submit="addCalls(forms)" novalidate>
	<fieldset class="scheduler-border">
		<legend class="scheduler-border">Add call</legend>

		<div class="form-group col-md-4" ng-class="{ 'has-error' : forms.name.$invalid && !forms.name.$pristine }">
			<input type="text" name="name" class="form-control" data-ng-model="todoName" ng-maxlength="30" required>
			<p ng-show="forms.name.$error.maxlength" class="help-block">Name is too long.</p>
			<p ng-show="forms.$submitted || forms.name.$touched" class="help-block"><span ng-show="forms.name.$error.required">Name is required.</span></p>
		</div>

		<div class="form-group col-md-4" ng-class="{ 'has-error' : forms.phoneNum.$invalid && !forms.phoneNum.$pristine}">
			<input class="form-control" name="phoneNum" type="text" placeholder="Phone number" data-ng-model="todoPhone" data-ng-change="validFormat()"
				required>
			<p class="help-block" ng-show="forms.phoneNum.$error.format && !forms.phoneNum.$error.required">Wrong format number.</p>
			<p ng-show="forms.$submitted || forms.phoneNum.$touched" class="help-block"><span ng-show="forms.phoneNum.$error.required">Phone number is required.</span></p>
		</div>

		<div class="form-group col-md-4" ng-class="{ 'has-error' : forms.time.$invalid && !forms.time.$pristine }">
			<input type="text" name="time" class="form-control" id="timepicker" placeholder="Time" ng-model="todoTime" ng-pattern="timePattern"
				datetime-picker="HH:mm" is-open="timePickerIsOpen" enable-date="false" timepicker-options="timeOptions" close-on-selection="true"
				ng-click="openCalendar()" required>
			<!--<p ng-show="forms.$submitted || forms.time.$touched" class="help-block"><span ng-show="forms.time.$error.required">Time is required.</span></p>
			<p class="help-block" ng-show="forms.time.$error.datetime">Wrong format time.</p>-->
		</div>
		<button class="btn btn-primary pull-right" type="submit" value="Submit">Add +</button>
	</fieldset>
</form>