<div class="container">
	<div class="row">
        <br>
        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                <th>Name
                    <a href="#" ng-click="sort('-name')" class="glyphicon glyphicon-triangle-bottom"></a>
                    <a href="#" ng-click="sort('name')"  class="glyphicon glyphicon-triangle-top"></a>
                    <!-- its better for user to click on Name and toogle sort order, so please move this logick-->
                    </th>
                <th>Phone number</th>
                <th>Time
                    <a href="#" ng-click="sort('-time')" class="glyphicon glyphicon-triangle-bottom"></a>
                    <a href="#" ng-click="sort('time')"  class="glyphicon glyphicon-triangle-top"></a>
                    <!--same as for name header-->
                </th>
                <th></th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="todo in todos | orderBy:sortKey:reverse track by $index ">
                <td class="done-{{ todo.done }}">{{ todo.name }}</td> 
                <td>{{todo.phone}}</td>
                <td>{{todo.time | date:'HH:mm'}}</td>
                <td><a href="#" ng-click="removeCall($index)" >delete</a></td>
                <td><input type="checkbox" data-ng-model="todo.done"></td>
                </tr>
            </tbody> 
        </table>
        <button class="btn btn-primary" data-ng-click="allCalls()">All</button>
        <button class="btn btn-primary" data-ng-click="nextCall()">Next</button>
        <button class="btn btn-primary" data-ng-click="disabledCall()">Finished</button>
        <br><br><br> <!--please avoid use br for margin, you should do it by css-->    
	</div>
</div>